* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppings", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}